<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header mt-3">
        <div class="row">
           <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-6 col-12 main-header-right">
                  <img src="images/about.jpg" class="img-fluid" alt="hassan"   title="hassan">
              </div>
                  <div class="col-md-6 col-12 main-header-left">
                      <p>Welcome to WeatherApp</p>
                      <h1>I am <span>Adamo Kehinde Hassan</span> , A MERN stack Web Developer </h1>
                     <a href="https://my-portfolio-swart-tau.vercel.app/"  class="btn btn-primary"> <button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    {{>footerlinks}}
</body>

</html>